name: Build Rocky Linux AMI

on:
  workflow_dispatch:

jobs:
  build-ami:
    #runs-on: ubuntu-latest
    runs-on: self-hosted
    outputs:
      ami_id: ${{ steps.packer_build.outputs.ami_id }}
      ami_name_full: ${{ steps.set_ami_name.outputs.ami_name_full }}
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}
      AMI_NAME_PREFIX: rocky-custom-ami

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Packer
        uses: hashicorp/setup-packer@v3
        with:
          version: latest

      - name: Set up Ansible
        run: |
          #sudo apt update && sudo apt install -y ansible
          sudo yum install ansible -y
      
      - name: Set up SSH private key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/ubuntu.pem
          chmod 600 ~/.ssh/ubuntu.pem

      - name: Set full AMI name for tagging (due to timestamp in Packer)
        id: set_ami_name
        run: |
          FULL_AMI_NAME="${{ env.AMI_NAME_PREFIX }}-$(date -u +'%Y-%m-%d')"
          echo "ami_name_full=${FULL_AMI_NAME}" >> "$GITHUB_OUTPUT"
          echo "Generated AMI Name: $FULL_AMI_NAME"

      - name: Initialize Packer
        run: packer init .

      - name: Validate template
        run: packer validate .

      - name: Build AMI
        id: packer_build
        run: |
          PACKER_OUTPUT=$(packer build -var "ami_name=${{ steps.set_ami_name.outputs.ami_name_full }}" .)
          AMI_ID=$(echo "$PACKER_OUTPUT" | grep -oP 'ami-[0-9a-f]{17}' | tail -1)
          if [ -z "$AMI_ID" ]; then
            echo "Error: AMI ID not found in Packer output."
            echo "$PACKER_OUTPUT" # Output full packer logs for debugging
            exit 1
          fi
          echo "AMI_ID=$AMI_ID" >> "$GITHUB_OUTPUT"
          echo "Built AMI ID: $AMI_ID"
          echo "Packer build output: $PACKER_OUTPUT" # For full logging

      - name: Tag the built AMI
        run: |
          aws ec2 create-tags \
            --resources ${{ steps.packer_build.outputs.ami_id }} \
            --tags \
              Key=PipelineBuildDate,Value=$(date -u +'%Y-%m-%d') \
              Key=Purpose,Value=GoldenAMI \
              Key=Environment,Value=Test \
              Key=BuiltBy,Value=GitHubActions
